fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pydantic[email]
pydantic-settings
authlib
stripe
itsdangerous
httpx
google-genai
Pillow
gradio_client
email-validator
fpdf2
qrcode[pil]
eval_type_backport
